* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background-color: #376c02;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.border {
    border: 3px solid #000;
    background-color: #000;
}

.snake {
    font-size: 35px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}